.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: white;
    color: #22272c;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #22272c;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

img {
    height: 200px;
    width: 300px;    
  }

.frame {
    border: 50px solid #22272c;
}

.navbar {
    font-family: 'Source Sans Pro', sans-serif;
}

.aboutMe {
  text-indent: 15px;
  text-align: left;
}